@using GridMvc.Html
@model IEnumerable<ViaYou.Domain.HTMLContent>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row" style="margin: 15px">
    <div class="panel panel-default">
        <div class="panel-heading">
            HTMLContent
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row" style="margin-left: 0; margin-top: 0; margin-right: 0; margin-bottom: 5px">
                <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa fa-plus-square"></i> Create</a>
                <div class="input-group custom-search-form col-lg-3 pull-right">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <a class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </a>
                    </span>
                </div>
            </div>

            @Html.Grid(Model).Columns(columns =>
       {
       columns.Add(c => c.Text)
           .Titled("Text")
           .Css("text-center")
           .Sortable(true);
       columns.Add(c => c.Region)
                .Titled("Customer")
                .Css("text-center")
                .Sortable(true);
       columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .Css("text-center")
           .RenderValueAs(c =>
        @<div>
            <a href="@Url.Action("Edit", new {c.Id})">
                <i class="fa fa-pencil edit-button"></i>
            </a>
            <a href="@Url.Action("Delete", new {c.Id})">
                <i class="fa fa-trash delete-button"></i>
            </a>
        </div>);
       }).WithPaging(5)
        </div>
    </div>
</div>
