@model IEnumerable<ViaYou.Domain.Travels.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="text-right">Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-right">
                <a href="category/edit/@item.Id" class="btn btn-primary">Edit</a>
                <a href="delete/@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>
